@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body{
  background-color: #FAF7F7;
}

